---
import Version2Layout from '../layouts/Version2Layout.astro'
---

<Version2Layout>
  <h2>About</h2>
  <p>This is the about page. It will be nested inside the /src/layouts/Version2Layout.astro layout.</p>
</Version2Layout>