---
import Version3Layout from '../layouts/Version3Layout.astro'
---

<Version3Layout>
  <h2>Contact</h2>
  <p>This is the contact page. It will be nested inside the /src/layouts/Version3Layout.astro layout.</p>
</Version3Layout>