---
import Version1Layout from '../layouts/Version1Layout.astro'
---

<Version1Layout>
  <h2 id="link1">Products</h2>
  <p>This is the products page. It will be nested inside the /src/layouts/Version1Layout.astro layout.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero tellus, accumsan sed posuere porttitor, pulvinar a mi. Phasellus sit amet magna mi. Proin a tincidunt risus, nec pellentesque tortor. Sed dapibus quam quam, sed placerat tellus luctus ac. Quisque ullamcorper elit ac nulla elementum finibus.</p>
  <p>Nullam at nisl finibus, porttitor metus eu, feugiat orci. Vestibulum pharetra magna sed bibendum rhoncus. Ut ultrices neque vitae nulla commodo semper. Fusce ac feugiat purus. Aliquam mollis augue id dolor tincidunt sagittis. Aliquam dui est, sagittis sit amet lorem eget, eleifend ultrices urna.</p>
  <h3 id="link2">Aliquam erat volutpat</h3>
  <p>Ut mi tellus, vestibulum sed mattis vitae, ultrices nec felis. Fusce bibendum est id eros vehicula, at egestas libero condimentum. Donec placerat vehicula erat vel lacinia.</p>
  <p>Nam venenatis dolor a tortor lacinia, at consectetur sem ultrices. Donec dictum dui nec ultrices dapibus. Aenean vel aliquet elit, non congue lacus. Pellentesque euismod, lorem quis cursus gravida, odio ligula sodales nunc, placerat hendrerit sapien sapien sed odio. Vivamus interdum tincidunt dignissim.</p>
  <p>In in orci non ligula tempus vulputate. Quisque ullamcorper quis arcu id fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam felis est, blandit eget dictum quis, pharetra in nibh. In ornare rhoncus ligula eget aliquet. Cras eleifend pulvinar turpis in eleifend.</p>
  <h3 id="link3">Nam non ligula metus</h3>
  <p>Sed elementum scelerisque leo ac cursus. Morbi vitae risus vitae mi aliquam laoreet. Nulla mattis efficitur arcu id congue. Sed velit urna, tristique eleifend odio nec, fermentum scelerisque tortor. Cras cursus neque ac ante posuere, et suscipit erat iaculis. Nulla in rutrum mi, egestas mollis sapien.</p>
  <p>Maecenas viverra mi nec tempor semper. Phasellus sed ornare mauris, eu euismod dolor. Mauris laoreet laoreet rutrum.</p>
</Version1Layout>