    <a class="grow hover:bg-zinc-700 hover:text-white" href="/">home</a>
    <a class="grow hover:bg-zinc-700 hover:text-white" href="/products">products</a>
    <a class="grow hover:bg-zinc-700 hover:text-white" href="/about">about</a>
    <a class="grow hover:bg-zinc-700 hover:text-white" href="/contact">contact</a>